extends ../layout/main.pug

block order_nav 
    a(href='/shipper/list' class='flex items-center gap-1 px-8 py-2 relative bg-light-purple text-strong-purple before:absolute before:top-0 before:left-0 before:w-1 before:h-full before:bg-strong-purple')
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
        </svg>
        span Orders
block content 
    div(class='max-w-4xl m-auto bg-white mt-10 border rounded-xl')
        div(class='p-4 flex justify-between items-center')
            h3(class='text-2xl font-bold') Orders Info 
            div(class='flex gap-4')
                form(class='text-dark-grey relative mb-0')
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 absolute left-2 top-1/2 -translate-y-1/2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                    </svg>
                    input(type="text" placeholder="Search something here" class="pl-8 py-2 w-80 border text-black placeholder:text-dark-grey focus:outline-none focus:border focus:border-strong-purple rounded-md")
                a(href='/shipper/add' class='px-2.5 py-1.5 bg-strong-purple text-white rounded-md cursor-pointer hover:opacity-70 flex gap-1 items-center') 
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                    </svg>
                    span Create Order        
        div(class='max-h-[75vh] overflow-auto purple-scrollbar')     
            table(class='table-auto w-full text-left leading-9')
                thead(class="border-b border-gray-300 bg-[#F6F6F6] text-dark-grey")
                    tr
                        th(class='pl-4') Order ID 
                        th Customer ID 
                        th Shipper ID 
                        th(class='text-center') Status 
                tbody
                    each order in orders 
                        tr(class="border-b border-gray-300")
                            td(class='pl-4')= order.OrderID 
                            td= order.CustomerID
                            td= order.ShipperID 
                            td(class='text-center')
                                case order.Status
                                    when 'Done'
                                        span(class="bg-[E0F0BB] px-2 py-0.5 rounded-full text-[70961A]")= order.Status
                                    when 'Processing'
                                        span(class="bg-[FFEEC2] px-2 py-0.5 rounded-full text-[b48f31]")= order.Status
                                    when 'Failed'
                                        span(class="bg-red-300 px-2 py-0.5 rounded-full text-red-600")= order.Status
                                    default 
                                        span= order.Status


